# Hemmeligheter 
.env
*.key
credentials.json

# Rådata 
data/raw/*
!data/raw/.gitkeep

# Generert output 
data/processed/*
!data/processed/.gitkeep

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.ipynb_checkpoints/

# OS
.DS_Store
